@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

body {
  margin: 0;
  padding: 0;
}
.default-container {
  padding: 72px;
}
.panel-default-container {
  padding: 72px;
  padding-top: 96px;
  padding-left: calc(72px + 96px);
  h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Jost';
  }
}

.sidebar {
  max-width: $max-sidebar-menu-width;
}
.sidebar-fixed {
  position: fixed;
  max-width: $max-sidebar-menu-width;
  z-index: 2000;
}