$max-sidebar-menu-width: 450px;

$gray-1-color: #666666;
$green-color: #2C7873;
$orange-color: #FF9234;
$red-color: #FA1616;
$primary-color: #667EF8;
$primary-color-dark: #5B71DE;

@function primary-color-opacity($opacity) {
  @return hsla(230, 91, 69, $opacity / 100)
}